#compiled code
*.class


#maven configuration file
*code/pom.xml

#temp files
*~

#eclipse files
*.classpath
*.layout
*.config
*.project
*/.settings

#idea data
*/.idea/
.idea/
*.eml
*.iml
*workspace/

#maven
target/
pom.xml

#kile .aux
*.aux

#RobIgnore
.TestPhysics/


#crash logs
*.log

#umbrello file
*.xmi

